@import 'base';
@import 'layout';
@import 'components';



// start block 2 styles

//

.b2 {
    color: white;
    height: 90vh;
}

// start sidebar

.b2-b1 {
    font-size:1.4rem;
    flex:0 0 25%;
    padding: 20px 0;
    background-color: var(--Grey-dark-1);
}

.b2-b1-b1 {
    text-transform: uppercase;
}

.b2-b1-b1 li{
    padding: 1.5rem 3rem;
}

.b2-b1-b1 li:not(:first-child){
    margin-top:.5em;
}

.b2-b1-b1 li:hover {
    background-color: red;
}

.b2-b1-b1 li.active {
    background-color: red;
}

.b2-b1-b1-b1-b1-b1-b1 {
    width: 20px;
    height: 20px;
    margin-right:1em;
    fill:white;
}

.b2-b1-b2 {
    font-size: 1.1em;
    color:var(--Grey-light-4)
}

// end sidebar

//

.b2-b2 {
    flex: 1;
    overflow-y: scroll;
}


//


.b2-b2-b1 {

}

.b2-b2-b1 img {
    width: 200px;
    flex-grow: 1;
}


//



.b2-b2-b2 {
    background-color: var(--white);
}

.b2-b2-b2-b1 {
    gap:25px;
}

.b2-b2-b2-b1__e1 {
    font-size:2.2em;
    font-weight: 300;
    letter-spacing: 1px;
    color:var(--Grey-dark-3);
    padding-left: 2em;
}

.b2-b2-b2-b1__e2 {
    fill:var(--Primary-light);
}

.b2-b2-b2-b1__e2 svg{
    width: 20px;
    height: 20px;
}



.b2-b2-b2-b2 {
    gap:25px;
}

.b2-b2-b2-b2-b1 {
    text-decoration: underline;
    font-size: 1.2em;
    color:var(--Primary-light);
}

.b2-b2-b2-b2-b1 svg {
    width: 20px;
    height: 20px;
    fill:var(--Primary-light);
}

.b2-b2-b2-b2-b2 {
    padding:1em;
    background-color: var(--Primary-light);
}






//

.b2-b2-b3 {
    display: flex;
    overflow-y: scroll;
    background-color: var(--Grey-light-2);
    padding:4.5rem;
    gap:4.5rem;
    color:var(--Grey-dark-3);
    font-size:1.4em
}

.b2-b2-b3 section {
    padding: 3em;
}

.b2-b2-b3-b1 {
    flex: 2;
    background-color: var(--white);
}

.b2-b2-b3-b1 section:not(:first-child) {
    border-top:1px solid var(--Grey-light-2)
}

.b2-b2-b3-b1-b2 li {

}

.b2-b2-b3-b1-b2 li svg {
    width: 15px;
    height: 15px;
    fill:var(--Primary-light);
    margin-right: 1em;
}

.b2-b2-b3-b2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b2-b2-b3-b2-b1 {
    background-color: white;
    color: black;
    position: relative;
    overflow: hidden;
    padding:2rem;
    color:var(--Grey-dark-2);
}

.b2-b2-b3-b2-b1:before {
    content: "“";
    position: absolute;
    left: 0;
    top:0;
    font-size: 15rem;
    font-family:sans-serif;
    line-height:0.75;
    // text-indent: -0.18em;
    color:var(--Grey-light-4);
    opacity: .4;
}

// .b2-b2-b3-b2-b1:not(:first-child){
//     margin-top: 10px;
// }

.b2-b2-b3-b2-b1-b1 {
    margin-top:1em
}

.b2-b2-b3-b2-b1__e1 {

}

.b2-b2-b3-b2-b1-b1-b1 {
    gap:10px;
}

.b2-b2-b3-b2-b1-b1-b2 {
    font-size: 2em;
    color:var(--Primary-light);
    font-weight: 300;
}



.b2-b2-b3-b2-b1-b1-b1__e1 {
    width: 4rem;
    border-radius: 100px;
}

// end block 2 styles





// start componant 1 styles


    .b2-b2-b3-b1-b3-b1 {
        display: flex;
    }

    .b2-b2-b3-b1-b3-b1 img {
        border-radius: 100px;
        width: 50px;
        border:4px solid  white
    }

    .b2-b2-b3-b1-b3-b1 img:not(:first-child){
        margin-left:-20px;
    }

// end componant 1 styles